header {
    background-color: aqua;
    width: 100vw;
    height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 5px solid black;
}


header .nav-bar {
    display: flex;


}


/* FLEX */

.flex {
    display: flex;
}

.space-evenly {
    justify-content: space-evenly;
}

.img {
    width: 1em;
    height: 1em;
}

.search-words{
    font-size: 16px;
}

.canavas-container{
    display: none;
    background-color: gray;
}

canvas{
    display: block;
    border: 5px solid black;
}

.txt-canvas{
    width: 50px;
    background-color: white;
    color: white;
}